<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- My CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css')}}">
        <title>News App</title>
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-sm bg-dark navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="#">News App</a>
            </div>
        </nav>
        {% block content %}{% endblock %}
        <div class="footer">
            <p>Powered by <a href="https://newsapi.org/" target="_blank">NewsAPI.org</a></p>
        </div>
    </body>
</html>